h1 {
    color: blueviolet;
    font-size: 100%;
}

#one {
    height: 100px;
    width: 350px;
    background-color: #2596be;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    padding: 20px;
}

#two {
    height: 100px;
    width: 350px;
    background-color: #eab676;
    border-radius: 20px;
    border-color: black;
    border-style: inset;
    padding: 20px;
}

#three {
    height: 100px;
    width: 350px;
    background-color: #873e23;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    padding: 20px;
}

.container {
    display: flex;
    /* Use flexbox to align the divs horizontally */
}

/* Define styles for the div boxes */
.box {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    /* Background color (you can change this) */
    margin-right: 10px;
    /* Add some margin to separate the divs */
}

#persentage {
    width: 500px;
    height: 500px;
    border: 1px;
    background-color: bisque;
}

#get {
    width: 50%;
    height: 50%;
    background-color: yellowgreen;
}